@import "tailwindcss";


@theme {
  --font-sancreek: 'Sancreek', system-ui;
  --font-montserrat: 'Montserrat Variable', sans-serif;
}

:root {
  /* Brand */
  --color-accent: #9D5130;
  --color-accent-hover: #9D6D52;

  /* Backgrounds */
  --color-bg-primary: #010d11;
  --color-bg-surface: #4A3227;

  /* Text */
  --color-text-primary: #C3B3B1;
  --color-text-muted: rgba(195, 179, 177, 0.7);
}


* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}


body {
  margin: 0;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
}

.container {
  max-width: var(--container);
  padding: 0 1.5rem;
  margin: 0 auto;
}

button {
  border-radius: 6px;
  border: 1px solid var(--border);
  background: var(--fg);
  color: white;
  padding: 0.6rem 1rem;
  cursor: pointer;
}