<section class="py-16 bg-(--color-accent)">
    <div
        class="container mx-auto px-6 flex flex-col md:flex-row items-center justify-between gap-8"
    >
        <div class="text-center md:text-left">
            <h3 class="text-3xl font-sancreek text-white">
                ¿Tu Primera Visita?
            </h3>
            <p
                class="text-white/80 uppercase tracking-widest text-xs mt-2 font-bold"
            >
                Menciona la web y obtén un 10% de descuento en tu primer ritual
                de barba.
            </p>
        </div>
        <a
            href="#contacto"
            class="bg-(--color-bg-primary) text-white px-10 py-4 uppercase text-xs font-bold tracking-[0.2em] hover:scale-105 transition-transform"
        >
            Obtener Descuento
        </a>
    </div>
</section>
